.app {
  text-align: center;
  font-size: 1rem;
}

.app-header {
  background-color: #00C300;
  height: 50px;
  padding: 5px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.avatar-img {
  border-radius: 50%;
}

.topic-header{
  padding: 1rem;
  color: white;
  background:#BE3A34;
  font-size: 1.5rem;
  font-weight: 700;
}

.bg-red{
  padding: 0.5rem;
  color: white;
  background:#E57373;
  border-radius: 1rem;
}

.bg-red-savingPlan{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  border-style: solid;
  border-color: #E57373;
  color: #6C6463;
  margin-top: 2rem;
}


.message-label {
  text-align: left;
  display: block;
}

.navi-header{
  color: #E57373;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
  font-weight: 700;
}

.wrap-button {
  margin-top: 2rem;
  width: 100%;
  height: 5rem;
}

.wrap-button .button-link {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  color: white;
  background:#E57373;
  text-transform: uppercase;
  text-decoration: none;
}

.savingPlanInput {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}
