.app {
  text-align: center;
  font-size: 2rem;
}

.app-header {
  background-color: #00C300;
  height: 50px;
  padding: 5px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.avatar-img {
  border-radius: 50%;
}

.bg-red{
  padding: 0.5rem;
  color: white;
  background:#E57373;
  border-radius: 1rem;
}

.bg-red-savingPlan{
  padding: 5rem;
  color: white;
  background:#E57373;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.message-label {
  text-align: left;
  display: block;
}

.navi-header{
  color: red;
  font-size: 3rem;
  margin: 0 0 2rem 0;
  font-weight: bold;
}

.wrap-button {
  margin-top: 4rem;
  width: 100%;
  height: 12rem;
}

.wrap-button .button-link {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  color: white;
  background:#E57373;
  text-transform: uppercase;
  text-decoration: none;
}
